<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features
    Bundle-Name="RPCPlug"
    Bundle-SymbolicName="com.apkplug.plug"
    Bundle-Version="1.0.0"
    Bundle-Activator="com.apkplug.plug.MainActivitor"
    date="2016.08.26"
    provider-name="APKPLUG"
    start-level ="1"
    start-up="true"
    Use-Host-MetaData="true"
    Short-Links=""
    plug_id=""
>
    <rpc-processor
        uri="apkplug://plug/rpc"
        className="com.apkplug.plug.RPCProcessor"
    />

</plugin-features>