<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features  
	Bundle-Name="DispatchDemo"
	Bundle-SymbolicName="com.apkplug.www.rpc_plug"
	Bundle-Version="1.0.0"
	date="2012.11.28"
	provider-name="插件开发商的名称" 
	provider-url="" 
	Bundle-Activator="com.apkplug.www.rpc_plug.SimpleBundle"
	Bundle-Activity="com.apkplug.www.rpc_plug.LoginActivity"
	start-level ="1"	
	start-up="true"  
	Bundle-UpdateLocation=""
	>

	<rpc-processor
		uri="apkplug://rpc/login"
		className="com.apkplug.www.rpc_plug.LoginRPC"
	/>
</plugin-features>