<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
    <plugin-features
        Bundle-Name="AMapPlug"
        Bundle-SymbolicName="com.apkplug.amapplug"
        Bundle-Version="152"
        date="2016.07.20"
        provider-name="APKPLUG"
        Bundle-Activity="com.apkplug.amapplug.MenuActivity"
        start-level ="1"
        start-up="true"
        Short-Links="http://yyfr.net/q0Y"
        plug_id="plug_user_1X7s7WqhDsA"
    >

    </plugin-features>