<?xml version="1.0" encoding="UTF-8"?>
<!--包命名方式为 id-versions.date -->
<!-- 插件提供的功能(类) --> <!--插件的唯一标识 --> <!--插件的名称，可以不唯一 --> <!--启动优先级启动数字越大启动越晚 --> <!--加载后立即启动  当插件为其他插件子插件是就无效 -->
<plugin-features
    Bundle-Name="EasePlug"
    Bundle-SymbolicName="com.apkplug.easemobplug"
    Bundle-Version="1.0.0"
    date="2016.07.20"
    provider-name="APKPLUG"
    Bundle-Activity="com.apkplug.easemobplug.ui.LoginActivity"
    Bundle-Activator="com.apkplug.easemobplug.MainActivitor"
    start-level ="1"
    start-up="true"
    Use-Host-MetaData="true"
>
    <processor
        uri="http://apkplug.plug.com/meseplug/login"
        className="com.apkplug.easemobplug.Processores.EaseLogin"
    />

    <processor
        uri="http://apkplug.plug.com/meseplug/init"
        className="com.apkplug.easemobplug.Processores.EaseInit"
    />

    <processor
        uri="http://apkplug.plug.com/meseplug/regist"
        className="com.apkplug.easemobplug.Processores.EaseCreateAccount"
    />

    <processor
        uri="http://apkplug.plug.com/meseplug/contect"
        className="com.apkplug.easemobplug.Processores.EaseContectsProcessor"
    />

    <processor
        uri="http://apkplug.plug.com/meseplug/addfriend"
        className="com.apkplug.easemobplug.Processores.EaseAddFriend"
    />

    <processor
        uri="http://apkplug.plug.com/meseplug/deletefriend"
        className="com.apkplug.easemobplug.Processores.EaseDeleteFriend"
    />


</plugin-features>